:root {
  --primary-color: #121521;
  --accent-black-color: #0c0f17;
  --accent-blue-color: #3b82f5;
  --border-color: #293247;
  --light-color: #ffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --background-color: #1e2233;
  --avatar-bg: #19285e;
  --text-color: #4a5366;
}
