@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary-color: #121521;
  --accent-black-color: #0c0f17;
  --accent-blue-color: #3b82f5;
  --border-color: #293247;
  --light-color: #ffff;
  --text-color: #666;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --background-color: #1e2233;
  --avatar-bg: #19285e;
  --text-color: #4a5366;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: block;
  margin: 0;
  background-color: var(--primary-color);
  color: var(--light-color);
  font: 200 18px/1.5 'Merriweather Sans';
}
